# Puerto del servidor (en Render se asigna automáticamente mediante process.env.PORT)
PORT=3000

# URL permitida para CORS (URL de tu frontend local o en Render)
CLIENT_URL=http://localhost:5173

# Entorno de ejecución (development | production)
NODE_ENV=development
